@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans');

html, body {
    font-family: 'Fira Sans', sans-serif;
}

code {
    font-family: 'Fira Mono', monospace;
}
.line {
    text-align: center;
}
